body {
    background-color: #222
}

h1, h2 {
    font-family: 'Press Start 2P', monospace;
    /* font-family: monospace; */
    color: rgb(99, 165, 247);
    font-size: 1vw;
}

canvas {
    /* background-image: url('../img/stone.png'); */
    /* background-repeat: repeat; */
    background-color: #222;
    width: 100%;
    height: 100%;
}

#container {
    max-width: 80em;
    max-height: 50em;
    background-color: rgb(248, 211, 219);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .4fr .4fr .4fr;
    grid-template-areas: "top-left top-center top-right"
    "game game game"
    "bottom-left bottom-center bottom-right";
    text-align: center;
    }

#top-left {
    grid-area: top-left;
}

#top-center {
    grid-area: top-center;
}

#top-right {
    grid-area: top-right;
}

#top-left, #top-center, #top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

#bottom-left {
    grid-area: bottom-left;
    background-color: #222;
}

#bottom-center {
    grid-area: bottom-center;
}

#bottom-right {
    grid-area: bottom-right;
    background-color: #222;
}

#bottom-left, #bottom-center, #bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: game;
}

/* #top-center {
    grid-area: center;
    background-color: #222;
} */

#reset {
    background-color: grey;
    text-align: center;
    height: 50px;
    width: 100px;
}


