body {
    background-color: #222
}

h1 {
    font-family: 'Press Start 2P', monospace;
    /* font-family: monospace; */
    color: rgb(99, 165, 247);
    font-size: 1vw;
}

h2 {
    font-family: 'Press Start 2P', monospace;
    /* font-family: monospace; */
    color: white;
    font-size: 1.5vw;
}

#canvas {
    background-position: center;
    background-size: 100% auto;
    background-color: #222;
    width: 100%;
    height: 100%;
}

#title {
    font-family: 'Press Start 2P', monospace;
    color: magenta;
    font-size: 6vw;
    -webkit-text-stroke: 2px black;
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% { color: cyan; }
    50% { color: magenta; }
    100% { color: cyan; }
    /* 50% { color: magenta;}
    0% { color: cyan;} */
}

#mainscreen {
    position: absolute;
    display: flexbox;
    align-items: center;
    justify-content: center;
    top: 15%;
    right: 20%;
    left: 20%;
    bottom: 30%;
}

p {
    font-family: 'Press Start 2P', monospace;
    color: white;
    font-size: 1vw;
    line-height: 1.5;
}

#player1controls {

}

#player2controls {
    
}

#container {
    max-width: 80em;
    max-height: 50em;
    background-color: rgb(248, 211, 219);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .4fr .4fr .4fr;
    grid-template-areas: "top-left top-center top-right"
    "game game game"
    "bottom-left bottom-center bottom-right";
    text-align: center;
    }

#top-left, #top-right {
    grid-area: top-left;
    border:#222 2px solid;
    width: 100%;
    position:relative;
}

#Player1Health {
    background-color: yellow;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
}

#top-center {
    grid-area: top-center;
    background-color: #222;
}

#top-right {
    grid-area: top-right;
    border:#222 2px solid;
    width: 100%;
    position:relative;
}

#Player2Health {
    background-color: yellow;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
}

#PlayerHealthBG {
    background-color: red;
    height: 100%;
    width: 100%;
}

#top-left, #top-center, #top-right {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#bottom-left {
    grid-area: bottom-left;
    background-color: #222;
}

#bottom-center {
    grid-area: bottom-center;
}

#bottom-right {
    grid-area: bottom-right;
    background-color: #222;
}

#bottom-left, #bottom-center, #bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: game;
}

#reset {
    font-family: 'Press Start 2P', monospace;
    background-color: grey;
    text-align: center;
    font-size: 1vw;
    padding: 15px;
    height: 100% auto;
    width: 100% auto;
}


